name: Deploy to Firebase

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install Dependencies
        run: npm install

      - name: Create .env file for React App
        run: |
          echo "${{ secrets.REACT_APP_FIREBASE_CONFIG }}" > .env
          echo "REACT_APP_OPENROUTE_API_KEY=${{ secrets.REACT_APP_OPENROUTE_API_KEY }}" >> .env

      - name: Build React App
        run: npm run build

      - name: Authenticate to Google Cloud
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_GEOQUEST2 }}'

      - name: Deploy to Firebase
        run: |
          npm install -g firebase-tools
          firebase deploy --project geoquest2-7e45c --only hosting,functions
