# .github/workflows/deploy.yml
name: Deploy to Firebase Hosting on merge

on:
  push:
    branches:
      - main # Kör bara detta när 'main'-branchen uppdateras

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm ci
      
      - name: Create Firebase config file
        run: echo "${{ secrets.REACT_APP_FIREBASE_CONFIG }}" > src/firebase.js

      - name: Build the project
        run: npm run build

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_GEOQUEST_1C461 }}'
          channelId: live
          projectId: 'geoquest-1c461' # Se till att detta är ditt korrekta projekt-ID
